# IBM CAPSTONE PROJECT - BATLLE OF NEIGHBORHOODS

## WEEK - 3( PART-1 )

#### Importing all the required libraries

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

#### The URL from where we have to scrape the data

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [3]:
data = requests.get(url) # Making a GET request to the URL to get all the data

In [4]:
soup = BeautifulSoup(data.text)   # Making object of BeautifulSoup

### Webscrapping starts from here

In [5]:
X = soup.find_all("div", attrs={"class":"mw-parser-output"})    # Finding the attributes from which data has to be scrapped

In [6]:
X = X[0]

In [7]:
X_1 = X.find_all("table", attrs={"class":"wikitable sortable"})

In [8]:
list_of_table = X_1[0].find_all("tr")      # Scrapped the table

#### Making the dataframe

In [10]:
dataframe = pd.DataFrame(columns=("PostalCode", "Borough", "Neighborhood"))

#### Filling the dataframe with the data we scrapped

In [11]:
for i in list_of_table:
    i = i.text
    i = i.rstrip()
    i = i.lstrip()
    i = i.split('\n\n')
    to_append = i
    a_series = pd. Series(to_append, index = dataframe. columns)
    dataframe = dataframe. append(a_series, ignore_index=True)

In [12]:
dataframe.drop(0, axis=0, inplace=True)

In [13]:
dataframe.reset_index(drop=True, inplace=True)

In [14]:
dataframe

,PostalCode,Borough,Neighborhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

In [15]:
dataframe.set_index("Borough", inplace=True)

In [16]:
dataframe.drop(labels="Not assigned", inplace=True)     # Dropping the items which have values as "Not Assigned"

In [17]:
dataframe.reset_index(drop=False, inplace=True)

In [18]:
dataframe.set_index("PostalCode", inplace=True)

In [19]:
dataframe.reset_index(inplace=True)

#### Final Dataframe

In [20]:
dataframe.head()

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### Dataframe shape

In [21]:
dataframe.shape

(103, 3)

#### Saving the Dataframe to the system

In [33]:
dataframe.to_csv('toronto.csv', index=False)